<!-- <div class="posts-container">
    <div class="post" *ngFor="let post of posts">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img [src]="post.profileImage" alt="{{ post.author }}" />
                </div>
                <mat-card-title>{{ post.title }}</mat-card-title>
                <mat-card-subtitle
                    >By
                    <a href="/profile/{{ post.author }}">
                        {{ post.author }}
                    </a>
                    on {{ post.created_at | date: 'medium' }}</mat-card-subtitle
                >
            </mat-card-header>
            <img
                mat-card-image
                *ngIf="post.featured_image"
                [src]="post.featured_image"
                alt="{{ post.title }}" />
            <mat-card-content>
                <p>{{ post.content }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->

<div class="following-container">
    <div class="following" *ngFor="let user of following">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img [src]="user.profileImage" alt="{{ user }}" />
                </div>
                <mat-card-title>
                    <a  [routerLink]="['/profile', user.username]" >
                        {{ user.username }}
                    </a>
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
</div>
