<div class="background">
    <img src="background.jpg" alt="Background Image" />
</div>
<div class="form" [formGroup]="signUpForm">
    <mat-card>
        <mat-card-title>Sign Up</mat-card-title>
        <mat-card-content>
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="fields">
                    <mat-form-field>
                        <input matInput formControlName="username" placeholder="Username" />
                        <mat-error *ngIf="
                                signUpForm.get('username')?.hasError('required')
                            ">
                            Username is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput formControlName="first_name" placeholder="First Name" />
                        <mat-error *ngIf="
                                signUpForm
                                    .get('first_name')
                                    ?.hasError('required')
                            ">
                            First Name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="last_name" placeholder="Last Name" />
                        <mat-error *ngIf="
                                signUpForm
                                    .get('last_name')
                                    ?.hasError('required')
                            ">
                            Last Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput formControlName="email" placeholder="Email" />
                        <mat-error *ngIf="
                                signUpForm.get('email')?.hasError('required')
                            ">
                            Email is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="phone_number" placeholder="Phone Number" />
                        <mat-error *ngIf="
                                signUpForm
                                    .get('phone_number')
                                    ?.hasError('required')
                            ">
                            Phone Number is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput formControlName="password" placeholder="Password"
                            [type]="hide ? 'password' : 'text'" />
                        <mat-error *ngIf="
                                signUpForm.get('password')?.hasError('required')
                            ">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="confirmPassword" placeholder="Confirm Password"
                            [type]="hide ? 'password' : 'text'" />
                        <mat-error *ngIf="
                                signUpForm
                                    .get('confirmPassword')
                                    ?.hasError('required')
                            ">
                            Confirm Password is required
                        </mat-error>
                        <mat-error *ngIf="
                                signUpForm
                                    .get('confirmPassword')
                                    ?.hasError('passwordMismatch')
                            ">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
                    <button mat-icon-button matSuffix (click)="hide = !hide" (keydown.enter)="$event.preventDefault()"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{
                            hide ? 'visibility_off' : 'visibility'
                            }}</mat-icon>
                    </button>
                </div>
                <div class="actions">
                    <p>{{ error_message }}</p>
                    <a routerLink="/sign-in">Already have an account? Sign In</a>
                    <button mat-raised-button color="primary" type="submit">
                        Sign Up
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
