<div class="background">
    <img src="background.jpg" alt="Background Image" />
</div>
<div class="banner">
    <div class="logo-container">
        <img src="logo-white.png" alt="Avalon" />
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome to {{ title }}</mat-card-title>
            <mat-card-subtitle
                >The place where you can be yourself</mat-card-subtitle
            >
        </mat-card-header>
        <mat-card-content class="summary">
            <p>
                Join the biggest community of people who love to share their
                thoughts and ideas with others. Expand your network and make new
                friends. Get new ideas and inspiration from others.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="accent" routerLink="/sign-in">
                Sign In
            </button>
            <button mat-stroked-button color="accent" routerLink="/sign-up">
                Sign Up
            </button>
        </mat-card-actions>
    </mat-card>
</div>
